<div class="container">
  <h2>Dodaj lub edytuj informacje o firmie zewnętrznej</h2>
  <div>
    <p>Nazwa firmy</p>
    <input type="text" [(ngModel)]="externalCompany!.name" [ngClass]="{ 'error-input': !isNameEntered && isSaveBtnClicked }" />
  </div>
  <div>
    <p>Numer umowy</p>
    <input
      type="text"
      [(ngModel)]="externalCompany!.contractNumber"
      [ngClass]="{ 'error-input': !isContractNumberEntered && isSaveBtnClicked }"
    />
  </div>
  <div>
    <p>Parametry SLA</p>
    <input
      type="text"
      [(ngModel)]="externalCompany!.sLAParameters"
      [ngClass]="{ 'error-input': !isSLAParameterEntered && isSaveBtnClicked }"
    />
  </div>
  <div class="btn-box">
    <button (click)="onSave()">Dodaj</button>
    <button (click)="onCancel()">Anuluj</button>
  </div>
</div>
