<div class="container">
  <div class="button-box">
    <button jhiOrange3dButton (click)="onAddElement()">Dodaj</button>
  </div>
  <div class="sections">
    <a [ngClass]="{ 'selected-section': sectionSelected === 'clients' }" [routerLink]="['clients']" (click)="onSelectSection('clients')"
      >Spółki</a
    >
    <a
      [ngClass]="{ 'selected-section': sectionSelected === 'departments' }"
      [routerLink]="['departments']"
      (click)="onSelectSection('departments')"
      >Działy</a
    >
    <a
      [ngClass]="{ 'selected-section': sectionSelected === 'employees' }"
      [routerLink]="['employees']"
      (click)="onSelectSection('employees')"
      >Pracownicy</a
    >
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <button jhiOrange3dButton (click)="onCancel()">Wróć do Strony Głównej</button>
</div>
