<div class="container">
  <div class="row1">
    <p class="item1">Symbol</p>
    <p class="item2">Nazwa</p>
    <p class="item3">Właściciel</p>
    <p class="item4">Status</p>
    <p class="item5">Akcje</p>
  </div>
  <div *ngIf="businessServices?.length === 0" class="no-list">
    <p>Nie znaleziono usług biznesowych dla klienta {{ client!.name }}</p>
  </div>
  <div class="scrollbar">
    <div
      class="list-row"
      *ngFor="let businessService of businessServices; let i = index"
      [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1, clicked: i === clickedElementIndex }"
      (click)="onBusinessServiceSelected(businessService, i)"
    >
      <p class="item1">{{ businessService.symbol }}</p>
      <p class="item2">{{ businessService.name }}</p>
      <p class="item3">{{ businessService.employee?.name + ' ' + businessService.employee?.surname }}</p>
      <p class="item4">{{ businessService.status === 'ACTIVE' ? 'Aktywna' : 'Nie aktywna' }}</p>
      <p class="item5">
        <button title="Edytuj" (click)="onEditPageLoad(businessService.id)">E</button>
        <button title="Zmień status" (click)="onStatusChange(businessService)">ZS</button>
        <button (click)="onDeleteBusinessService(businessService)">U</button>
      </p>
    </div>
  </div>
</div>
