<div>
  <h2 id="page-heading" data-cy="BusinessServiceHeading">
    <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.home.title">Business Service</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-business-service"
        [routerLink]="['/business-service/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.home.createLabel"> Dodaj Business Service </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="businessServices?.length === 0">
    <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.home.notFound">No Business Services found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="businessServices && businessServices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="symbol">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.symbol">Symbol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="functionalDescription">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.functionalDescription"
                >Functional Description</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="exclusions">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.exclusions">Exclusions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dutiesAndResponsibilities">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.dutiesAndResponsibilities"
                >Duties And Responsibilities</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="personResponsibleForService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.personResponsibleForService"
                >Person Responsible For Service</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hoursOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.hoursOfService">Hours Of Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serviceActivatingCost">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.serviceActivatingCost"
                >Service Activating Cost</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="priceListOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.priceListOfService"
                >Price List Of Service</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="internalService.id">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.internalService">Internal Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.client">Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.employee">Employee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="department.id">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.businessService.department">Department</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let businessService of businessServices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/business-service', businessService.id, 'view']">{{ businessService.id }}</a>
          </td>
          <td>{{ businessService.name }}</td>
          <td>{{ businessService.symbol }}</td>
          <td>{{ businessService.functionalDescription }}</td>
          <td>{{ businessService.exclusions }}</td>
          <td>{{ businessService.dutiesAndResponsibilities }}</td>
          <td>{{ businessService.personResponsibleForService }}</td>
          <td>{{ businessService.hoursOfService }}</td>
          <td>{{ businessService.serviceActivatingCost }}</td>
          <td>{{ businessService.priceListOfService }}</td>
          <td>{{ businessService.notes }}</td>
          <td>
            <span *ngFor="let internalService of businessService.internalServices; let last = last">
              <a class="form-control-static" [routerLink]="['/internal-service', internalService.id, 'view']">{{ internalService.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="businessService.client">
              <a [routerLink]="['/client', businessService.client.id, 'view']">{{ businessService.client.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="businessService.employee">
              <a [routerLink]="['/employee', businessService.employee.id, 'view']">{{ businessService.employee.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="businessService.department">
              <a [routerLink]="['/department', businessService.department.id, 'view']">{{ businessService.department.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/business-service', businessService.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Widok</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/business-service', businessService.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edytuj</span>
              </button>

              <button type="submit" (click)="delete(businessService)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Usuń</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
