<div class="container">
  <table>
    <tr>
      <th>Lp.</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>E-mail</th>
      <th>Akcje</th>
    </tr>
    <tr *ngFor="let employee of employees; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 !== 0 }">
      <td>{{ i + 1 }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>test@test.com</td>
      <td>
        <button (click)="onEdit(employee)">E</button>
        <button (click)="onDelete(employee)">U</button>
      </td>
    </tr>
  </table>
</div>
