<div class="container">
  <h2>Dodaj Usługę Wewnętrzną</h2>
  <div class="row1">
    <p>Symbol Usługi Wewnętrznej (UW)</p>
    <input
      type="text"
      [ngClass]="{
        'empty-input': isSymbolEntered === false && isSaveButtonClicked === true,
        'input-not-valid': !this.internalServiceRegexp.test(this.internalService.symbol!)
      }"
      #symbol
    />
    <p *ngIf="!this.internalServiceRegexp.test(this.internalService.symbol!)">(format: xx-xx-xxx (cyfry) )</p>
  </div>
  <div class="row1">
    <p>Nazwa usługi</p>
    <input type="text" [ngClass]="{ 'empty-input': isNameEntered === false && isSaveButtonClicked === true }" #name />
  </div>
  <div class="row1">
    <p class="p3">Właściciel usługi</p>
    <input
      type="text"
      class="input3"
      [ngClass]="{ 'empty-input': isOwnerLoaded === false && isSaveButtonClicked === true }"
      [(ngModel)]="ownerName"
      readonly
    />
    <button jhiOrange3dButton class="btn3" (click)="openEmployeesList()">Wybierz z listy pracowników</button>
  </div>
  <div class="btns">
    <button jhiOrange3dButton (click)="onCancel()">Anuluj</button>
    <button jhiOrange3dButton (click)="onSave()">Zapisz</button>
  </div>
</div>
