<div class="container" *ngIf="isDataLoaded && internalService">
  <div class="data-box">
    <div class="row1">
      <p>Symbol usługi:</p>
      <p>{{ internalService.symbol }}</p>
    </div>
    <div class="row1">
      <p>Nazwa usługi:</p>
      <p>{{ internalService.name }}</p>
    </div>
  </div>
  <div class="data-box">
    <div class="row1">
      <p>Właściciel:</p>
      <p *ngIf="internalService.employee">{{ internalService.employee.name }} {{ internalService.employee.surname }}</p>
    </div>
  </div>
  <div class="sections">
    <a (click)="onSelectSection('A')" [ngClass]="{ 'selected-section': sectionSelected === 'A' }">A. Informacje podstawowe</a>
    <a (click)="onSelectSection('B')" [ngClass]="{ 'selected-section': sectionSelected === 'B' }">B. Parametry uzgodnione w ramach umowy</a>
    <a (click)="onSelectSection('C')" [ngClass]="{ 'selected-section': sectionSelected === 'C' }">C. Rozliczenie kosztów usługi</a>
    <a (click)="onSelectSection('D')" [ngClass]="{ 'selected-section': sectionSelected === 'D' }">D. Informacje wewnętrzne</a>
    <a (click)="onSelectSection('E')" [ngClass]="{ 'selected-section': sectionSelected === 'E' }">E. Dostępność</a>
    <a (click)="onSelectSection('F')" [ngClass]="{ 'selected-section': sectionSelected === 'F' }">F. Disaster Recovery</a>
    <a (click)="onSelectSection('G')" [ngClass]="{ 'selected-section': sectionSelected === 'G' }">G. Pozostałe informacje</a>
  </div>
  <div [ngSwitch]="sectionSelected">
    <div *ngSwitchCase="'A'" class="section">
      <div class="row2">
        <p>Opis funkcjonalny</p>
        <textarea name="functionalDescription" [(ngModel)]="internalService.functionalDescription"> </textarea>
      </div>
      <div class="row2">
        <p>Zlecenie usługi</p>
        <textarea name="serviceComissions" [(ngModel)]="internalService.serviceComissions"> </textarea>
      </div>
      <div class="row2">
        <p>Wykluczenia</p>
        <textarea name="exclusions" [(ngModel)]="internalService.exclusions"> </textarea>
      </div>
      <div class="row2">
        <p>Obowiązki i odpowiedzialności stron</p>
        <textarea name="dutiesAndResponsibilities" [(ngModel)]="internalService.dutiesAndResponsibilities"> </textarea>
      </div>
      <div class="row2">
        <p>Osoba odpowiedzialna za usługę po stronie Zamawiającego</p>
        <textarea name="personResponsibleForService" [(ngModel)]="internalService.personResponsibleForService"> </textarea>
      </div>
    </div>
    <div *ngSwitchCase="'B'" class="section">
      <div class="row2">
        <p>Godziny gwarantowanego świadczenia usługi</p>
        <textarea name="hoursOfService" [(ngModel)]="internalService.hoursOfService"> </textarea>
      </div>
      <div>
        <div class="row3">
          <p>Parametry jakościowe usługi</p>
          <button jhiOrange3dButton (click)="onAddParameter(parameterType.QUALITY)">Dodaj parametr</button>
        </div>
        <table>
          <tr>
            <th width="40%">Nazwa parametru</th>
            <th width="40%">Wartość docelowa</th>
            <th width="20%">Akcje</th>
          </tr>
          <tr *ngFor="let parameter of parametersOfQualityType; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }">
            <td width="40%">{{ parameter.name }}</td>
            <td width="40%">{{ parameter.value }}</td>
            <td width="20%">
              <button (click)="onEditParameter(parameter, i)">E</button>
              <button (click)="onDeleteParameter(parameter, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="parametersOfQualityType!.length === 0">
            <p>Brak parametrów</p>
          </div>
        </table>
      </div>
      <div>
        <div class="row3">
          <p>Parametry pojemnościowe usługi</p>
          <button jhiOrange3dButton (click)="onAddParameter(parameterType.QUANTITY)">Dodaj parametr</button>
        </div>
        <table>
          <tr>
            <th width="40%">Nazwa parametru</th>
            <th width="40%">Wartość docelowa</th>
            <th width="20%">Akcje</th>
          </tr>
          <tr *ngFor="let parameter of parametersOfQuantityType; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }">
            <td width="40%">{{ parameter.name }}</td>
            <td width="40%">{{ parameter.value }}</td>
            <td width="20%">
              <button (click)="onEditParameter(parameter, i)">E</button>
              <button (click)="onDeleteParameter(parameter, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="parametersOfQuantityType!.length === 0">
            <p>Brak parametrów</p>
          </div>
        </table>
      </div>
    </div>
    <div *ngSwitchCase="'C'" class="section">
      <div class="row2">
        <p>Koszty uruchomienia usługi</p>
        <textarea name="serviceActivatingCost" [(ngModel)]="internalService.serviceActivatingCost"> </textarea>
      </div>
      <div class="row2">
        <p>Cennik usługi</p>
        <textarea name="priceListOfService" [(ngModel)]="internalService.priceListOfService"> </textarea>
      </div>
      <div class="table-box">
        <div class="row3">
          <p>Wartość miesięcznej opłaty za usługę</p>
          <button jhiOrange3dButton (click)="onAddServiceElement(paymentType.MONTHLY)">Dodaj składową usługi</button>
        </div>
        <table>
          <tr>
            <th width="3%">Lp.</th>
            <th width="7%">Kwota zł netto/m-c</th>
            <th width="15%">Opis usługi</th>
            <th width="15%">Nr wyceny</th>
            <th width="9%">Typ opłaty</th>
            <th width="9%">Data rozpoczęcia świadczenia usługi</th>
            <th width="8%">Okres świadczenia usługi (miesiące)</th>
            <th width="9%">Typ okresu swiadczenia usługi</th>
            <th width="9%">Data zakończenia świadczenia usługi</th>
            <th width="8%">Status</th>
            <th width="8%">Akcje</th>
          </tr>
          <tr
            *ngFor="let serviceElement of serviceElementsOfMonthlyPaymentType; let i = index"
            [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }"
          >
            <td width="3%">{{ i + 1 }}</td>
            <td width="7%">{{ serviceElement.price }}</td>
            <td width="15%">{{ serviceElement.description }}</td>
            <td width="15%">{{ serviceElement.valuationNumber }}</td>
            <td width="9%">{{ serviceElement.paymentType == paymentType.MONTHLY ? 'Miesięczna' : '' }}</td>
            <td width="9%">{{ formattedStartDatesMonthly[i] }}</td>
            <td width="8%">{{ serviceElement.periodOfProvisionOfServiceInMonths }}</td>
            <td width="9%">{{ TypeOfPeriodMapping[serviceElement!.typeOfPeriodOfProvisionOfService!] }}</td>
            <td width="9%">{{ formattedEndDatesMonthly[i] }}</td>
            <td width="8%">{{ serviceElement.status === 'ACTIVE' ? 'Aktywna' : 'Nieaktywna' }}</td>
            <td width="8%">
              <button (click)="onEditServiceElement(serviceElement, i)">E</button>
              <button (click)="onDeleteServiceElement(serviceElement, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="serviceElementsOfMonthlyPaymentType!.length === 0">
            <p>Brak składowych usługi</p>
          </div>
        </table>
      </div>
      <div class="table-box">
        <div class="row3">
          <p>Inne płatności:</p>
          <button jhiOrange3dButton (click)="onAddServiceElement(paymentType.DISPOSABLE)">Dodaj składową usługi</button>
        </div>
        <table>
          <tr>
            <th width="3%">Lp.</th>
            <th width="7%">Kwota zł netto</th>
            <th width="15%">Opis usługi</th>
            <th width="15%">Nr wyceny</th>
            <th width="9%">Typ opłaty</th>
            <th width="9%">Data rozpoczęcia świadczenia usługi</th>
            <th width="8%">Okres świadczenia usługi (miesiące)</th>
            <th width="9%">Typ okresu swiadczenia usługi</th>
            <th width="9%">Data zakończenia świadczenia usługi</th>
            <th width="8%">Status</th>
            <th width="8%">Akcje</th>
          </tr>
          <tr
            *ngFor="let serviceElement of serviceElementsOfOneTimePaymentType; let i = index"
            [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }"
          >
            <td width="3%">{{ i + 1 }}</td>
            <td width="7%">{{ serviceElement.price }}</td>
            <td width="15%">{{ serviceElement.description }}</td>
            <td width="15%">{{ serviceElement.valuationNumber }}</td>
            <td width="9%">{{ serviceElement.paymentType == paymentType.DISPOSABLE ? 'Jednorazowa' : '' }}</td>
            <td width="9%">{{ formattedStartDatesOneTime[i] }}</td>
            <td width="8%">{{ serviceElement.periodOfProvisionOfServiceInMonths }}</td>
            <td width="9%">{{ TypeOfPeriodMapping[serviceElement!.typeOfPeriodOfProvisionOfService!] }}</td>
            <td width="9%">{{ formattedEndDatesOneTime[i] }}</td>
            <td width="8%">{{ serviceElement.status === 'ACTIVE' ? 'Aktywna' : 'Nieaktywna' }}</td>
            <td width="8%">
              <button (click)="onEditServiceElement(serviceElement, i)">E</button>
              <button (click)="onDeleteServiceElement(serviceElement, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="serviceElementsOfOneTimePaymentType!.length === 0">
            <p>Brak składowych usługi</p>
          </div>
        </table>
      </div>
      <div class="row2">
        <p>Uwagi</p>
        <textarea name="notes" [(ngModel)]="internalService!.notes"> </textarea>
      </div>
    </div>
    <div *ngSwitchCase="'D'" class="section">
      <div class="row4">
        <p>Status Karty Usługi IT</p>
        <select>
          <option>Obowiązująca</option>
          <option>Nieobowiązująca</option>
        </select>
      </div>
      <div class="row4">
        <p>Usługa krytyczna</p>
        <div><input type="radio" name="criticalService" />Tak <input type="radio" name="criticalService" />Nie</div>
      </div>
      <div class="ul-box">
        <div class="row3">
          <p>Produkty krytyczne:</p>
          <button jhiOrange3dButton>Dodaj produkt</button>
        </div>
        <ul>
          <li>
            1
            <div>
              <button>E</button>
              <button>U</button>
            </div>
          </li>
          <li>
            2
            <div>
              <button>E</button>
              <button>U</button>
            </div>
          </li>
          <li>
            3
            <div>
              <button>E</button>
              <button>U</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="ul-box">
        <div class="row3">
          <p>Produkty ważne:</p>
          <button jhiOrange3dButton>Dodaj produkt</button>
        </div>
        <ul>
          <li>
            1
            <div>
              <button>E</button>
              <button>U</button>
            </div>
          </li>
          <li>
            2
            <div>
              <button>E</button>
              <button>U</button>
            </div>
          </li>
          <li>
            3
            <div>
              <button>E</button>
              <button>U</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="row2">
        <p>Gwarantowane Poziomy Świadczenia Usługi:</p>
        <textarea name="guaranteedLevelsOfProvisionOfService" [(ngModel)]="internalService.guaranteedLevelsOfProvisionOfService"></textarea>
      </div>
    </div>
    <div *ngSwitchCase="'E'" class="section">
      <div class="row2">
        <p>Czas Świadczenia Usługi:</p>
        <textarea name="periodOfProvisionOfService" [(ngModel)]="internalService.periodOfProvisionOfService"></textarea>
      </div>
      <div class="row2">
        <p>Okno Serwisowe:</p>
        <textarea name="windowOfService" [(ngModel)]="internalService.windowOfService"></textarea>
      </div>
      <div class="row2">
        <p>Poziom Dostępności:</p>
        <textarea name="levelOfAccessibility" [(ngModel)]="internalService.levelOfAccessibility"></textarea>
      </div>
    </div>
    <div *ngSwitchCase="'F'" class="section">
      <div class="row2">
        <p>Plan Disaster Recovery:</p>
        <textarea name="planDisasterRecovery" [(ngModel)]="internalService.planDisasterRecovery"></textarea>
      </div>
      <div class="row2">
        <p>RPO:</p>
        <textarea name="rPO" [(ngModel)]="internalService.rPO"></textarea>
      </div>
      <div class="row2">
        <p>RTO:</p>
        <textarea name="rTO" [(ngModel)]="internalService.rTO"></textarea>
      </div>
    </div>
    <div *ngSwitchCase="'G'" class="section">
      <div>
        <div class="row3">
          <p>Firmy zewnętrzne wspierające realizację Usługi IT:</p>
          <button jhiOrange3dButton (click)="onAddExternalCompany()">Dodaj informacje o firmie zewnętrznej</button>
        </div>
        <table>
          <tr>
            <th width="5%">Lp.</th>
            <th width="29%">Firma zewnętrzna</th>
            <th width="29%">Numer umowy</th>
            <th width="29%">Parametry SLA</th>
            <th width="8%">Akcje</th>
          </tr>
          <tr *ngFor="let externalCompany of externalCompanies; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }">
            <td width="5%">{{ i + 1 }}</td>
            <td width="29%">{{ externalCompany.name }}</td>
            <td width="29%">{{ externalCompany.contractNumber }}</td>
            <td width="29%">{{ externalCompany.sLAParameters }}</td>
            <td>
              <button (click)="onEditExternalCompany(externalCompany, i)">E</button>
              <button (click)="onDeleteExternalCompany(externalCompany, i)">U</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="ul-box">
        <p>Wspierane Usługi Biznesowe:</p>
        <ul>
          <li *ngFor="let businessService of businessServices; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }">
            {{ businessService.symbol }} - {{ businessService.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="all-btns">
    <button jhiOrange3dButton (click)="onCreateDocxFile()">Utwórz dokument karty (plik .docx)</button>
    <div class="ok-and-cancel-btns">
      <button jhiOrange3dButton (click)="onEditInternalService()">Ok</button>
      <button jhiOrange3dButton (click)="onCancel()">Anuluj</button>
    </div>
  </div>
</div>
