<div>
  <h2 id="page-heading" data-cy="InternalServiceHeading">
    <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.home.title">Internal Service</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-internal-service"
        [routerLink]="['/internal-service/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.home.createLabel"> Dodaj Internal Service </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="internalServices?.length === 0">
    <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.home.notFound">No Internal Services found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="internalServices && internalServices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="symbol">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.symbol">Symbol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="functionalDescription">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.functionalDescription"
                >Functional Description</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serviceComissions">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.serviceComissions"
                >Service Comissions</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="exclusions">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.exclusions">Exclusions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dutiesAndResponsibilities">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.dutiesAndResponsibilities"
                >Duties And Responsibilities</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="personResponsibleForService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.personResponsibleForService"
                >Person Responsible For Service</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hoursOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.hoursOfService">Hours Of Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serviceActivatingCost">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.serviceActivatingCost"
                >Service Activating Cost</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="priceListOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.priceListOfService"
                >Price List Of Service</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="criticalService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.criticalService">Critical Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="guaranteedLevelsOfProvisionOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.guaranteedLevelsOfProvisionOfService"
                >Guaranteed Levels Of Provision Of Service</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="periodOfProvisionOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.periodOfProvisionOfService"
                >Period Of Provision Of Service</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="windowOfService">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.windowOfService">Window Of Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="levelOfAccessibility">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.levelOfAccessibility"
                >Level Of Accessibility</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="planDisasterRecovery">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.planDisasterRecovery"
                >Plan Disaster Recovery</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rPO">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.rPO">R PO</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rTO">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.rTO">R TO</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.internalService.employee">Employee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let internalService of internalServices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/internal-service', internalService.id, 'view']">{{ internalService.id }}</a>
          </td>
          <td>{{ internalService.name }}</td>
          <td>{{ internalService.symbol }}</td>
          <td>{{ internalService.functionalDescription }}</td>
          <td>{{ internalService.serviceComissions }}</td>
          <td>{{ internalService.exclusions }}</td>
          <td>{{ internalService.dutiesAndResponsibilities }}</td>
          <td>{{ internalService.personResponsibleForService }}</td>
          <td>{{ internalService.hoursOfService }}</td>
          <td>{{ internalService.serviceActivatingCost }}</td>
          <td>{{ internalService.priceListOfService }}</td>
          <td>{{ internalService.notes }}</td>
          <td jhiTranslate="{{ 'zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.StatusOfServiceCard.' + internalService.status }}">
            {{ internalService.status }}
          </td>
          <td>{{ internalService.criticalService }}</td>
          <td>{{ internalService.guaranteedLevelsOfProvisionOfService }}</td>
          <td>{{ internalService.periodOfProvisionOfService }}</td>
          <td>{{ internalService.windowOfService }}</td>
          <td>{{ internalService.levelOfAccessibility }}</td>
          <td>{{ internalService.planDisasterRecovery }}</td>
          <td>{{ internalService.rPO }}</td>
          <td>{{ internalService.rTO }}</td>
          <td>
            <div *ngIf="internalService.employee">
              <a [routerLink]="['/employee', internalService.employee.id, 'view']">{{ internalService.employee.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/internal-service', internalService.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Widok</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/internal-service', internalService.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edytuj</span>
              </button>

              <button type="submit" (click)="delete(internalService)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Usuń</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
