<div class="container" *ngIf="isDataLoaded && businessService">
  <div class="row1">
    <p>Klient:</p>
    <p *ngIf="businessService.client">{{ businessService.client.name }}</p>
  </div>
  <div class="data-box">
    <div class="row1">
      <p>Symbol usługi:</p>
      <p>{{ businessService.symbol }}</p>
    </div>
    <div class="row1">
      <p>Nazwa usługi:</p>
      <p>{{ businessService.name }}</p>
    </div>
  </div>
  <div class="data-box">
    <div class="row1">
      <p>Dział:</p>
      <p *ngIf="businessService.department">{{ businessService.department.name }}</p>
    </div>
    <div class="row1">
      <p>Właściciel:</p>
      <p *ngIf="businessService.employee">{{ businessService.employee.name }} {{ businessService.employee.surname }}</p>
    </div>
  </div>
  <div class="sections">
    <a (click)="onSelectSection('A')" [ngClass]="{ 'selected-section': sectionSelected === 'A' }">A. Informacje podstawowe</a>
    <a (click)="onSelectSection('B')" [ngClass]="{ 'selected-section': sectionSelected === 'B' }">B. Parametry uzgodnione w ramach umowy</a>
    <a (click)="onSelectSection('C')" [ngClass]="{ 'selected-section': sectionSelected === 'C' }">C. Rozliczenie kosztów usługi</a>
    <a (click)="onSelectSection('D')" [ngClass]="{ 'selected-section': sectionSelected === 'D' }">kontrolling</a>
  </div>
  <div [ngSwitch]="sectionSelected">
    <div *ngSwitchCase="'A'" class="section-a">
      <div class="row2">
        <p>Opis funkcjonalny</p>
        <textarea name="functionalDescription" [(ngModel)]="businessService.functionalDescription"> </textarea>
      </div>
      <div class="row2">
        <p>Wykluczenia</p>
        <textarea name="exclusions" [(ngModel)]="businessService.exclusions"> </textarea>
      </div>
      <div class="row2">
        <p>Obowiązki i odpowiedzialności stron</p>
        <textarea name="dutiesAndResponsibilities" [(ngModel)]="businessService.dutiesAndResponsibilities"> </textarea>
      </div>
    </div>
    <div *ngSwitchCase="'B'" class="section-b">
      <div class="row2">
        <p>Osoba odpowiedzialna za usługę po stronie Zamawiającego</p>
        <textarea name="personResponsibleForService" [(ngModel)]="businessService.personResponsibleForService"> </textarea>
      </div>
      <div class="row2">
        <p>Godziny gwarantowanego świadczenia usługi</p>
        <textarea name="hoursOfService" [(ngModel)]="businessService.hoursOfService"> </textarea>
      </div>
      <div>
        <div class="row4">
          <p>Parametry jakościowe usługi</p>
          <button (click)="onAddParameter(parameterType.QUALITY)">Dodaj parametr</button>
        </div>
        <table>
          <tr>
            <th width="40%">Nazwa parametru</th>
            <th width="40%">Wartość docelowa</th>
            <th width="20%">Akcje</th>
          </tr>
          <tr *ngFor="let parameter of parametersOfQualityType; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }">
            <td width="40%">{{ parameter.name }}</td>
            <td width="40%">{{ parameter.value }}</td>
            <td width="20%">
              <button (click)="onEditParameter(parameter)">E</button>
              <button (click)="onDeleteParameter(parameter, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="parametersOfQualityType!.length === 0">
            <p>Brak parametrów</p>
          </div>
        </table>
      </div>
      <div>
        <div class="row4">
          <p>Parametry pojemnościowe usługi</p>
          <button (click)="onAddParameter(parameterType.QUANTITY)">Dodaj parametr</button>
        </div>
        <table>
          <tr>
            <th width="40%">Nazwa parametru</th>
            <th width="40%">Wartość docelowa</th>
            <th width="20%">Akcje</th>
          </tr>
          <tr *ngFor="let parameter of parametersOfQuantityType; let i = index" [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }">
            <td width="40%">{{ parameter.name }}</td>
            <td width="40%">{{ parameter.value }}</td>
            <td width="20%">
              <button (click)="onEditParameter(parameter)">E</button>
              <button (click)="onDeleteParameter(parameter, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="parametersOfQuantityType!.length === 0">
            <p>Brak parametrów</p>
          </div>
        </table>
      </div>
    </div>
    <div *ngSwitchCase="'C'" class="section-c">
      <div class="row2">
        <p>Koszty uruchomienia usługi</p>
        <textarea name="serviceActivatingCost" [(ngModel)]="businessService.serviceActivatingCost"> </textarea>
      </div>
      <div class="row2">
        <p>Cennik usługi</p>
        <textarea name="priceListOfService" [(ngModel)]="businessService.priceListOfService"> </textarea>
      </div>
      <div class="table-box">
        <div class="row3">
          <p>Wartość miesięcznej opłaty za usługę</p>
          <button (click)="onAddServiceElement(paymentType.MONTHLY)">Dodaj składową usługi</button>
        </div>
        <table>
          <tr>
            <th width="3%">Lp.</th>
            <th width="7%">Kwota zł netto/m-c</th>
            <th width="15%">Opis usługi</th>
            <th width="15%">Nr wyceny</th>
            <th width="9%">Typ opłaty</th>
            <th width="9%">Data rozpoczęcia świadczenia usługi</th>
            <th width="8%">Okres świadczenia usługi (miesiące)</th>
            <th width="9%">Typ okresu swiadczenia usługi</th>
            <th width="9%">Data zakończenia świadczenia usługi</th>
            <th width="8%">Status</th>
            <th width="8%">Akcje</th>
          </tr>
          <tr
            *ngFor="let serviceElement of serviceElementsOfMonthlyPaymentType; let i = index"
            [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }"
          >
            <td width="3%">{{ i + 1 }}</td>
            <td width="7%">{{ serviceElement.price }}</td>
            <td width="15%">{{ serviceElement.description }}</td>
            <td width="15%">{{ serviceElement.valuationNumber }}</td>
            <td width="9%">{{ serviceElement.paymentType == paymentType.MONTHLY ? 'Miesięczna' : '' }}</td>
            <td width="9%">{{ formattedStartDatesMonthly[i] }}</td>
            <td width="8%">{{ serviceElement.periodOfProvisionOfServiceInMonths }}</td>
            <td width="9%">{{ serviceElement.typeOfPeriodOfProvisionOfService }}</td>
            <td width="9%">{{ formattedEndDatesMonthly[i] }}</td>
            <td width="8%">{{ serviceElement.status === 'ACTIVE' ? 'Aktywna' : 'Nie aktywna' }}</td>
            <td width="8%">
              <button (click)="onEditServiceElement(serviceElement, i)">E</button>
              <button (click)="onDeleteServiceElement(serviceElement, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="serviceElementsOfMonthlyPaymentType!.length === 0">
            <p>Brak składowych usługi</p>
          </div>
        </table>
      </div>
      <div class="table-box">
        <div class="row3">
          <p>Inne płatności:</p>
          <button (click)="onAddServiceElement(paymentType.DISPOSABLE)">Dodaj składową usługi</button>
        </div>
        <table>
          <tr>
            <th width="3%">Lp.</th>
            <th width="7%">Kwota zł netto</th>
            <th width="15%">Opis usługi</th>
            <th width="15%">Nr wyceny</th>
            <th width="9%">Typ opłaty</th>
            <th width="9%">Data rozpoczęcia świadczenia usługi</th>
            <th width="8%">Okres świadczenia usługi (miesiące)</th>
            <th width="9%">Typ okresu swiadczenia usługi</th>
            <th width="9%">Data zakończenia świadczenia usługi</th>
            <th width="8%">Status</th>
            <th width="8%">Akcje</th>
          </tr>
          <tr
            *ngFor="let serviceElement of serviceElementsOfOneTimePaymentType; let i = index"
            [ngClass]="{ rowN: i % 2 === 0, rowN1: i % 2 === 1 }"
          >
            <td width="3%">{{ i + 1 }}</td>
            <td width="7%">{{ serviceElement.price }}</td>
            <td width="15%">{{ serviceElement.description }}</td>
            <td width="15%">{{ serviceElement.valuationNumber }}</td>
            <td width="9%">{{ serviceElement.paymentType == paymentType.DISPOSABLE ? 'Jednorazowa' : '' }}</td>
            <td width="9%">{{ formattedStartDatesOneTime[i] }}</td>
            <td width="8%">{{ serviceElement.periodOfProvisionOfServiceInMonths }}</td>
            <td width="9%">{{ serviceElement.typeOfPeriodOfProvisionOfService }}</td>
            <td width="9%">{{ formattedEndDatesOneTime[i] }}</td>
            <td width="8%">{{ serviceElement.status === 'ACTIVE' ? 'Aktywna' : 'Nie aktywna' }}</td>
            <td width="8%">
              <button (click)="onEditServiceElement(serviceElement, i)">E</button>
              <button (click)="onDeleteServiceElement(serviceElement, i)">U</button>
            </td>
          </tr>
          <div class="empty-list-info" *ngIf="serviceElementsOfOneTimePaymentType!.length === 0">
            <p>Brak składowych usługi</p>
          </div>
        </table>
      </div>
      <div class="row2">
        <p>Uwagi</p>
        <textarea name="notes" [(ngModel)]="businessService.notes"> </textarea>
      </div>
    </div>
    <div *ngSwitchCase="'D'">D</div>
  </div>
  <div class="all-btns">
    <button (click)="onCreateDocxFile()">Utwórz dokument karty (plik .docx)</button>
    <div class="ok-and-cancel-btns">
      <button (click)="onEditBusinessService()">Ok</button>
      <button (click)="onCancel()">Anuluj</button>
    </div>
  </div>
</div>
