<div class="container">
  <div class="row1">
    <p>Klient:</p>
    <p>Jan Kowalski</p>
  </div>
  <div class="data-box">
    <div class="row1">
      <p>Symbol usługi:</p>
      <p>JK123</p>
    </div>
    <div class="row1">
      <p>Nazwa usługi:</p>
      <p>Pieczenie pączków</p>
    </div>
  </div>
  <div class="data-box">
    <div class="row1">
      <p>Dział:</p>
      <p>Piekarnia ABC Spółka ZOO SA</p>
    </div>
    <div class="row1">
      <p>Właściciel:</p>
      <p>Stanisław Pączkowski</p>
    </div>
  </div>
  <div>
    <a>A. Informacje podstawowe</a>
    <a>B. Parametry uzgodnione w ramach umowy</a>
    <a>C. Rozliczenie kosztów usługi</a>
    <a>kontrolling</a>
  </div>
  <div>tu będzie sie zmieniac</div>
  <div>
    <button>Utwórz dokument karty (plik .docx)</button>
    <button>Ok</button>
    <button>Anuluj</button>
  </div>
</div>
