<div class="container">
  <h2>Dodaj lub edytuj pracownika</h2>
  <div>
    <p>Imię pracownika</p>
    <input type="text" [(ngModel)]="employee!.name" [ngClass]="{ 'error-input': !isNameEntered && isSaveBtnClicked }" />
  </div>
  <div>
    <p>Nazwisko pracownika</p>
    <input type="text" [(ngModel)]="employee!.surname" [ngClass]="{ 'error-input': !isSurnameEntered && isSaveBtnClicked }" />
  </div>
  <div class="btn-box">
    <button (click)="onSave()">Dodaj</button>
    <button (click)="onCancel()">Anuluj</button>
  </div>
</div>
