<div>
  <h2 id="page-heading" data-cy="ExternalCompanyHeading">
    <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.home.title">External Company</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-external-company"
        [routerLink]="['/external-company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.home.createLabel"> Dodaj External Company </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="externalCompanies?.length === 0">
    <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.home.notFound">No External Companies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="externalCompanies && externalCompanies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contractNumber">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.contractNumber">Contract Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sLAParameters">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.sLAParameters">S LA Parameters</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="internalService.id">
            <div class="d-flex">
              <span jhiTranslate="zarzadzanieUslugamiBiznesowymiIWewnetrznymiApp.externalCompany.internalService">Internal Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let externalCompany of externalCompanies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/external-company', externalCompany.id, 'view']">{{ externalCompany.id }}</a>
          </td>
          <td>{{ externalCompany.name }}</td>
          <td>{{ externalCompany.contractNumber }}</td>
          <td>{{ externalCompany.sLAParameters }}</td>
          <td>
            <div *ngIf="externalCompany.internalService">
              <a [routerLink]="['/internal-service', externalCompany.internalService.id, 'view']">{{
                externalCompany.internalService.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/external-company', externalCompany.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Widok</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/external-company', externalCompany.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edytuj</span>
              </button>

              <button type="submit" (click)="delete(externalCompany)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Usuń</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
