.container {
  display: flex;
  flex-direction: column;
}

h2 {
  /* border: 1px solid black; */
  background-color: lightgray;
  padding: 10px;
  position: relative;
  box-shadow: 0px -5px 5px inset rgb(184, 184, 184), 0px 5px 5px inset rgb(232, 232, 232);
}

.box-1 {
  display: flex;
  flex-direction: column;
}

.btn-box {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
  width: 70%;
}

.btn-box > button:first-child {
  width: 300px;
}

.btn-box > button:last-child,
.row-1 > button,
.box-4 > button {
  width: 150px;
}

.btn-box > p {
  width: 250px;
}

.box-2,
.box-4 {
  display: flex;
  flex-direction: column;
}

.box-2 {
  margin-bottom: 50px;
  width: 80%;
}

.box-4 {
  margin: 30px 0px;
  width: 67.5%;
  display: flex;
}

.box-4 > button {
  align-self: flex-end;
  height: 40px;
}

.box-3 {
  display: flex;
  justify-content: space-around;
}

.row-1 {
  display: flex;
  justify-content: space-between;
}

.row-1 > p {
  padding: 5px 20px 0px 10px;
}

.row-1 > input {
  width: 180px;
  height: 30px;
  margin-top: 5px;
}

.row-2 {
  display: flex;
  justify-content: flex-start;
}

.row-2 > input:last-child {
  margin-left: 15%;
  width: 250px;
}

.radio-box {
  margin-left: 15%;
}

.btn-box-2 {
  display: flex;
  justify-content: flex-end;
}

.btn-box-2 > button {
  width: 100px;
  margin-left: 20px;
  margin-top: 10px;
}

.row-3 {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 15%;
}

.row-3 > p {
  margin-right: 40px;
}

.row-3 > button,
.row-3 > input {
  height: 30px;
}

.big-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px 0px;
}

.date-input {
  width: 180px;
}

.error-input {
  border: 3px solid red;
}

table {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

tr {
  display: flex;
}

th {
  font-weight: 500;
}

table > tr:first-child {
  background-color: gray;
  color: white;
  position: relative;
  box-shadow: 0px -6px 5px -5px inset rgb(62, 62, 62), 0px 6px 5px -5px inset rgb(234, 234, 234);
}

.empty-list-info {
  background-color: rgb(213, 213, 213);
  text-align: center;
}

.rowN {
  background-color: rgb(213, 213, 213);
}

.rowN1 {
  background-color: rgb(238, 238, 238);
}
