<div class="container">
  <div class="box-1">
    <p>Opis usługi</p>
    <textarea [(ngModel)]="serviceElement!.description" [ngClass]="{ 'error-input': !isDescriptionEntered && isSaveBtnClicked }"></textarea>
  </div>
  <div class="box-1">
    <p>Zgłoszenie BMC</p>
    <input
      type="text"
      [(ngModel)]="serviceElement!.bmcRegistration"
      [ngClass]="{ 'error-input': !isBMCRegistrationEntered && isSaveBtnClicked }"
    />
  </div>
  <div class="box-1">
    <p>Nr wyceny</p>
    <input
      type="text"
      [(ngModel)]="serviceElement!.valuationNumber"
      [ngClass]="{ 'error-input': !isValuationNumberEntered && isSaveBtnClicked }"
    />
  </div>
  <div class="btn-box">
    <button>Dołącz wsad techniczny</button>
    <p>Nazwa_wsadu.docx</p>
    <button>Pokaż wsad</button>
  </div>
  <div class="box-2">
    <p>Wartość <span *ngIf="serviceElement!.paymentType === 'MONTHLY'">miesięcznej </span>opłaty za usługę</p>
    <div class="box-3">
      <div class="row-1">
        <p>z kalkulacji</p>
        <input
          type="text"
          [(ngModel)]="serviceElement!.priceFromCalculation"
          [ngClass]="{ 'error-input': !isPriceFromCalculationEntered && isSaveBtnClicked }"
        />
        <p>zł netto<span *ngIf="serviceElement!.paymentType === 'MONTHLY'">/m-c</span></p>
      </div>
      <div class="row-1">
        <p>po negocjacjach</p>
        <input
          type="text"
          [(ngModel)]="serviceElement!.price"
          [ngClass]="{ 'error-input': !isPriceAfterNegotiationEntered && isSaveBtnClicked }"
        />
        <p>zł netto<span *ngIf="serviceElement!.paymentType === 'MONTHLY'">/m-c</span></p>
      </div>
    </div>
  </div>
  <div class="btn-box">
    <button>Dołącz protokół z negocjacji</button>
    <p>negocjacje.pdf</p>
    <button>Pokaż skan</button>
  </div>
  <div class="row-2">
    <p>Wymagany protokół odbioru do uruchomienia usługi</p>
    <div class="radio-box"><input type="radio" name="protocol" /> Tak <input type="radio" name="protocol" /> Nie</div>
  </div>
  <div class="btn-box">
    <button>Dołącz protokół odbioru</button>
    <p>odbiór.pdf</p>
    <button>Pokaż skan</button>
  </div>
  <div class="big-box">
    <div class="row-1">
      <div class="row-1">
        <p>Data rozpoczęcia świadczenia usługi</p>
        <input
          type="datetime-local"
          [(ngModel)]="serviceElement!.startDate"
          class="date-input"
          [ngClass]="{ 'error-input': !isStartDateEntered && isSaveBtnClicked }"
          (change)="setEndDate()"
        />
      </div>
      <div class="row-1">
        <p>Data zakończenia świadczenia usługi</p>
        <input
          type="datetime-local"
          [(ngModel)]="endDate"
          class="date-input"
          [ngClass]="{ 'error-input': !isEndDateEntered && isSaveBtnClicked }"
          readonly
        />
      </div>
    </div>
    <div class="row-1">
      <div class="row-1">
        <p>Okres świadczenia usługi</p>
        <input
          type="number"
          [(ngModel)]="serviceElement!.periodOfProvisionOfServiceInMonths"
          [ngClass]="{ 'error-input': !isPeriodOfProvisionOfServiceInMonthsEntered && isSaveBtnClicked }"
        />
      </div>
      <div class="row-1">
        <p>Typ okresu świadczenia usługi</p>
        <select
          [(ngModel)]="serviceElement!.typeOfPeriodOfProvisionOfService"
          [ngClass]="{ 'error-input': !isTypeOfPeriodOfProvisionOfServiceEntered && isSaveBtnClicked }"
        >
          <option *ngFor="let type of typeOfPeriodEnumValues" [value]="type">{{ TypeOfPeriodMapping[type] }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row-3">
    <div class="row-3">
      <p>Ustaw status usługi</p>
      <button (click)="onToggleStatus()">{{ serviceElement!.status === 'ACTIVE' ? 'Aktywna' : 'Nie aktywna' }}</button>
    </div>
    <div class="row-3">
      <p>Wyłącz z dniem</p>
      <input
        type="datetime-local"
        [(ngModel)]="expirationDate"
        class="date-input"
        [ngClass]="{ 'error-input': !isExpirationDateEntered && isSaveBtnClicked }"
        [readOnly]="serviceElement!.typeOfPeriodOfProvisionOfService === typeOfPeriodOfProvisionOfService.FIXED"
      />
    </div>
  </div>
  <div class="row-2">
    <input type="checkbox" /> Wyślij przypomnienie dotyczące konieczności przedłużenia usługi na kolejny okres w dniu
    <input type="datetime-local" [(ngModel)]="expirationDate" class="date-input" />
  </div>
  <div class="btn-box-2">
    <button (click)="onSaveServiceElement()">Zapisz</button>
    <button (click)="onCancel()">Anuluj</button>
  </div>
</div>
