<div class="container">
  <div class="row1">
    <p>Wybierz spółkę</p>
    <select [(ngModel)]="client" (change)="onClientSelected(client)">
      <option (click)="onSelectedDefaultValue()">Wszystkie</option>
      <option *ngFor="let client of clients" [ngValue]="client">{{ client.name }}</option>
    </select>
    <p class="error-text" *ngIf="isDefaultValueSelected && isAddingBSButtonClicked">Najpierw wybierz spółkę</p>
  </div>
  <div>
    <div class="row2">
      <p>Lista kart Usług Biznesowych:</p>
      <button jhiOrange3dButton (click)="onAddNewBusinessService(selectedClient ? selectedClient : undefined)">Dodaj nową kartę</button>
    </div>
    <div>
      <jhi-business-service
        [client]="selectedClient"
        [isDefaultValueSelected]="isDefaultValueSelected"
        (selectedBusinessService)="onBusinessServiceSelected($event)"
      >
      </jhi-business-service>
    </div>
  </div>
  <div>
    <div>
      <p>Powiązane Usługi Wewnętrzne:</p>
    </div>
    <div class="row3">
      <p class="no-list" *ngIf="selectedBusinessService && selectedBusinessService.internalServices?.length === 0">
        Brak powiązanych Usług Wewnętrznych
      </p>
      <p class="no-list" *ngIf="!selectedBusinessService">Nie wybrano Usługi Biznesowej</p>
      <jhi-internal-service
        *ngIf="selectedBusinessService && selectedBusinessService.internalServices?.length !== 0"
        [internalServices]="selectedBusinessService.internalServices"
        [businessService]="selectedBusinessService"
      ></jhi-internal-service>
      <p class="error-text" *ngIf="selectedBusinessService === undefined && isAddingISButtonClicked">Najpierw wybierz Usługę Biznesową</p>
      <div class="btn-box">
        <button jhiOrange3dButton class="add" (click)="onLoadAddNewInternalService()">Dodaj nową Usługę Wewnętrzną</button>
        <button jhiOrange3dButton (click)="onAddExistingInternalService()">Dodaj istniejące UW</button>
        <button jhiOrange3dButton (click)="onLoadCumulativeEditPage()">Więcej opcji</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
