<div class="container">
  <div class="row1">
    <p>Wybierz spółkę</p>
    <select>
      <option (click)="onSelectedDefaultValue()">Wszystkie</option>
      <option *ngFor="let client of clients" (click)="onClientSelected(client)">{{ client.name }}</option>
    </select>
  </div>
  <div>
    <div class="row2">
      <p>Lista kart Usług Biznesowych:</p>
      <button (click)="onAddNewBusinessService(selectedClient)">Dodaj nową kartę</button>
    </div>
    <div>
      <jhi-business-service [client]="selectedClient" [isDefaultValueSelected]="isDefaultValueSelected"></jhi-business-service>
    </div>
  </div>
  <div>
    <div>
      <p>Powiązane usługi wewnętrzne:</p>
    </div>
    <div class="row3">
      <jhi-internal-service></jhi-internal-service>
      <button class="add">Dodaj usługę wewnętrzną</button>
    </div>
  </div>
</div>
