<div class="container">
  <h2>Dodaj Kartę Usługi Biznesowej</h2>
  <div class="row1">
    <p>Symbol Usługi Biznesowej (UB)</p>
    <input type="text" [(ngModel)]="businessService.symbol" />
  </div>
  <div class="row1">
    <p>Nazwa usługi</p>
    <input type="text" [(ngModel)]="businessService.name" />
  </div>
  <div class="row1">
    <p class="p3">Właściciel usługi</p>
    <input type="text" class="input3" [(ngModel)]="ownerName" />
    <button class="btn3" (click)="openEmployeesList()">Wybierz z listy pracowników</button>
  </div>
  <div class="row1">
    <p>Dział</p>
    <select [(ngModel)]="department" (change)="getDepartment(department)">
      <option [ngValue]="department" *ngFor="let department of departments">
        {{ department.name }}
      </option>
    </select>
  </div>
  <div class="row1">
    <p>Klient</p>
    <select [(ngModel)]="client!.name" (change)="getClient(client)">
      <option [ngValue]="client!.name" *ngFor="let client of clients">
        {{ client.name }}
      </option>
    </select>
  </div>
  <div class="tablebox">
    <h5>Usługi Wewnętrzne (UW) pracujące na Usługę Biznesową (UB)</h5>
    <table>
      <tr class="tableheader">
        <th width="20%">Symbol</th>
        <th width="40%">Nazwa</th>
        <th>Właściciel</th>
      </tr>
      <tr *ngFor="let internalService of internalServices">
        <td>{{ internalService.symbol }}</td>
        <td>{{ internalService.name }}</td>
        <td>Jan Kowalski <button>-</button></td>
      </tr>
    </table>
    <div *ngIf="internalServices?.length === 0" class="no-list">
      <p>Brak usług wewnętrznych.</p>
    </div>
    <div class="btns">
      <button (click)="onLoadAddNewInternalService()">Dodaj nowe UW</button>
      <button (click)="openInternalServicesList()">Dodaj istniejące UW</button>
    </div>
  </div>
  <div class="chckbx">
    <input type="checkbox" id="chckbx" />
    <label for="chckbx"> Wyślij powiadomienie do właściciela usługi biznesowej w momencie aktywacji usługi </label>
  </div>
  <div class="btns">
    <button (click)="onCancel()">Anuluj</button>
    <button (click)="onSave()">Zapisz robocze</button>
    <button (click)="onSaveAndActivate()">Zapisz i aktywuj</button>
  </div>
</div>
