<div class="container">
  <h2>Dodaj Kartę Usługi Biznesowej</h2>
  <div class="row1">
    <p>Symbol Usługi Biznesowej (UB)</p>
    <input type="text" />
  </div>
  <div class="row1">
    <p>Nazwa usługi</p>
    <input type="text" />
  </div>
  <div class="row1">
    <p class="p3">Właściciel usługi</p>
    <input type="text" class="input3" />
    <button class="btn3">Wybierz z listy pracowników</button>
  </div>
  <div class="row1">
    <p>Dział</p>
    <select></select>
  </div>
  <div class="row1">
    <p>Klient</p>
    <select></select>
  </div>
  <div class="tablebox">
    <h5>Usługi Wewnętrzne (UW) pracujące na Usługę Biznesową (UB)</h5>
    <table>
      <tr class="tableheader">
        <th width="20%">Symbol</th>
        <th width="40%">Nazwa</th>
        <th>Właściciel</th>
      </tr>
      <tr>
        <td>coś</td>
        <td>coś</td>
        <td>coś <button>-</button></td>
      </tr>
    </table>
    <button>Dodaj UW</button>
  </div>
  <div class="chckbx">
    <input type="checkbox" id="chckbx" />
    <label for="chckbx"> Wyślij powiadomienie do właściciela usługi biznesowej w momencie aktywacji usługi </label>
  </div>
  <div class="btns">
    <button>Anuluj</button>
    <button>Zapisz robocze</button>
    <button>Zapisz i aktywuj</button>
  </div>
</div>
